    body {
      background-color: #FCFCFC;
    }

    h1 {
      color: #5E3F1B;
    }

     h3, h4 {
       color: #20201F;
       margin-top: 40px;
       margin-bottom: 10px;
     }
     p {
        color: #2A2825;
     }

     .smaller-paragraph-spacing{
        margin-bottom: -5px;
     }

     .smaller-paragraph-spacing-videos{
       margin-top: 40px;
       margin-bottom: 5px;
     }

     a {
      color: #087E48;
      text-decoration: none;
     }

      table, th, td {
        border: 1px solid white;
        background-color: #FBF1CD;
        border-collapse: collapse;
      }

      th, td {
        padding: 15px;
      }

      th {
        font-size: 110%;
        text-align: center;
      }

      td {
        padding-left: 50px;
        padding-right: 60px;
      }
