    body {
      background-color: #FCFCFC;
    }

    h1 {
      color: #5E3F1B;
      font-family: 'Lato', sans-serif;
      font-size: 40px;
    }

     h3, h4 {
       font-family: 'Lato', sans-serif;
       color: #20201F;
       margin-top: 40px;
       margin-bottom: 15px;
     }

     p {
        color: #2A2825;
        font-family: 'Merriweather', serif;
     }
     a {
      color: #087E48;
      text-decoration: none;
     }

     a:hover {
       color: #F3900B;
      }

      table, th, td {
        border: 1px solid white;
        background-color: #FBF1CD;
        border-collapse: collapse;
      }

      th, td {
        padding: 15px;
      }

      th {
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 24px;
        text-align: left;
        padding-left: 70px;
        padding-bottom: 10px;
      }

      td {
        padding-left: 50px;
        padding-right: 60px;
        padding-top: 5px;
      }

     li {
       font-family: 'Barlow Condensed', sans-serif;
       font-size: 18px;
     }

     .smaller-paragraph-spacing{
        margin-top: -15px;
        margin-bottom: 40px;
     }

     .description {
       font-size: 12px;
       line-height: 18px;
       margin-top: 12px;
       margin-bottom: 10px;
       width: 620px;
     }

     .photo-credit {
       font-size: 12px;
       margin-top: 2px;
     }

     .ingredient-list-comment{
       font-size: 10px;
       line-height: 16px;
       margin-top: 40px;
       margin-bottom: 5px;
     }

     .other-recipes {
       font-size: 14px;
       padding-left: 15px;
     }
